.divTransition{
    animation: transitionIn 5s;
}

@keyframes transitionIn {
    from {
    opacity: 0;
    transform: (-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0)
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

@font-face {
        font-family: 'Matura MT Script Capitals';
        src: url('../fonts/matura-mt-script-capitals.ttf') format('truetype');
        /* Adicione outros formatos de fonte para maior compatibilidade */
}

    .navbar-nav .nav-link {
        font-size: 26px;
        font-weight: 600;
        font-family: 'sans-serif', 'cursive';
        margin-right: 15px;
    }

    .navbar.transparent {
        background-color: rgba(0, 0, 0, 0.5) !important;
        box-shadow: none !important;
    }

    body{
        background: linear-gradient(to right, rgb(73, 49, 128), rgb(26, 5, 5));
    }


*{
    margin: 0;
    padding: 0;
    appearance: none;
}

.containerCards {
    padding: 0 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    max-width: 300px;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(-45deg, #ff5200, #4f00ff);
    text-align: center;
}

.card__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.card__title {
    padding: 30px 0;
}

.card__price {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card__btn {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    transition: background-color 0.3s, color 0.3s;
}

.card__btn:hover {
    background-color: #00e9e5;
    color: #fff;
}

    .container .brand-text {
        font-family: 'Matura MT Script Capitals';
        font-size: 24px;
        color:white;
    }

    .anchorAnime,
    .anchorAnime a{
        position: relative;
        color: #333;
    }

    .anchorAnime a:before{
        content: "";
        position: absolute;
        bottom: 0;
        height: 6px;
        width: 0;
        background: #C70D0F;
        border-radius: 50px;
        transition: width 0.5s ease;
    }

    .anchorAnime a:hover:before{
        width: 90%;
    }

    .bground{
        display:flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .bground img{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }